<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eric.grace.upms.modules.sys.mapper.SysMenuMapper">

    <!-- 获取所有菜单 -->
    <select id="queryList" resultType="com.eric.grace.upms.modules.sys.entity.SysMenu">
        select m.*,(select p.menu_name from t_sys_menu p where p.id = m.parent_id) as parentName
		  from t_sys_menu m
    </select>

</mapper>