<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eric.grace.upms.modules.sys.mapper.SysRoleMapper">


    <!-- 获取所有角色 -->
    <select id="queryAll" parameterType="java.util.Map" resultType="com.eric.grace.upms.modules.sys.entity.SysRole">

        SELECT t.*,d.name,group_concat(d.name) as 'deptName' from (SELECT r.*,rd.dept_id as dept from t_sys_role r LEFT JOIN t_sys_role_dept rd on r.id = rd.role_id) t LEFT JOIN t_sys_dept d on t.dept =d.id

        <if test=" null != params">
            <where>
                <foreach collection="params.keys" item="k" separator="and">
                    <if test="null != params[k]">
                        t.${k} like concat('%',#{params[${k}]},'%')
                    </if>
                </foreach>
            </where>
        </if>
        GROUP BY t.id
    </select>



    <!-- 删除角色 -->         <!-- 删除用户角色 -->     <!-- 删除角色菜单 -->      <!-- 删除角色部门 -->
    <delete id="deleteBatch" parameterType="String">

        delete from t_sys_role where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;

        delete from t_sys_user_role where role_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;

        delete from t_sys_role_menu where role_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;

    </delete>


</mapper>