<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eric.grace.upms.modules.sys.mapper.SysUserRoleMapper">

    <!-- 根据用户ID 删除就角色 -->
    <delete id="deleteRolesByUserId">
        delete from t_sys_user_role where user_id = #{value}
    </delete>

    <!-- 根据用户ID 获取角色ID -->
    <select id="queryRoleIdList" resultType="String">
        select role_id from t_sys_user_role where user_id = #{value}
    </select>

</mapper>