<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eric.grace.upms.modules.sys.mapper.SysUserMapper">

    <!-- 根据用户名 获取用户基本信息 -->
    <select id="selectUserByUsername" resultType="com.eric.grace.upms.modules.sys.entity.SysUser">
        SELECT * from t_sys_user where username = #{value} and del_flag = 'N'
    </select>


    <!-- 获取所有用户 -->
    <select id="queryAll" parameterType="java.util.Map" resultType="com.eric.grace.upms.modules.sys.entity.SysUser">
        select u.*, group_concat(ur.role_id) as 'roleIds', (select d.name from t_sys_dept d where d.id = u.dept_id)
        deptName from t_sys_user u left join t_sys_user_role ur on u.id = ur.user_id
        <if test=" null != params">
            <where>
                <foreach collection="params.keys" item="k" separator="and">
                    <if test="null != params[k]">
                        u.${k} like concat('%',#{params[${k}]},'%')
                    </if>
                </foreach>
            </where>
        </if>
        group by u.id

    </select>


    <!-- 查询用户的所有权限 -->
    <select id="queryAllPerms" resultType="string">
        select m.menu_perms from t_sys_user_role ur
        LEFT JOIN t_sys_role_menu rm on ur.role_id = rm.role_id
        LEFT JOIN t_sys_menu m on rm.menu_id = m.id
        where ur.user_id = #{userId}
    </select>


    <!-- 批量删除用户 -->
    <delete id="deleteBatch">

        delete from t_sys_user where id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ;
        delete from t_sys_user_role where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ;

    </delete>

</mapper>