<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eric.grace.upms.modules.sys.mapper.TokenMapper">

    <!-- 根据用户id 获取token -->
    <select id="selectByUserId" resultType="com.eric.grace.upms.modules.sys.entity.TokenEntity">
        SELECT * from t_sys_token where user_id = #{value} and del_flag = 'N'
    </select>


    <!-- 根据token查询 -->
    <select id="queryByToken" resultType="com.eric.grace.upms.modules.sys.entity.TokenEntity">
        select * from t_sys_token where token = #{value} and del_flag = 'N'
    </select>


</mapper>